.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    span {
        cursor: pointer;
    }
}
.links {
    display: flex;
    justify-content: end;
    align-items: center;
    .link {
        padding: 10px;
        &:hover {
            background-color: rgba(250, 235, 215, 0.493);
        }
    }
}
