.sign-in-container {
    display: flex;
    flex-direction: column;
    width: 40vw;

    h2 {
        margin: 20px 0;
    }
}
.button-container {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 400px) {
    
    .button-container {
        flex-direction: column;
    } 
    .sign-in-container {
        margin-bottom: 20px;
        width: 90vw;
        button {
            margin-bottom: 5px;
        }
    } 
}