.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 40vw;

    h2 {
        margin: 20px 0;
    }
}

@media (max-width: 400px) {
    .sign-up-container, .b-container button {
        width: 90vw;
    } 
}